#mobile-wrap {
    #top {
        .navbar {
            height: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly ;
        }
    }
        #footer {
            .footer-container {
                height: 150px;
                margin-top: 20px;
                background: #181a20;
                color: white;
                text-align: center;
                justify-content: center;
            }
        }
    }
